/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item, .benefit {
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    min-width: 100px; /* Assurez-vous que les éléments ne deviennent pas trop petits */
    cursor: grab;
    text-align: center;
}

.benefit {
    background-color: #add8e6;
    min-height: 50px;
}

.drag-enter {
    background-color: #90ee90;
}

.drag-wrong {
    background-color: #ffcccb;
}
/* 

/* Responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .items {
        width: 80%; /* Utilisez une largeur relative pour s'adapter à la taille de l'écran */
    }

    .item, .benefit {
        width: 100%; /* Les éléments s'étendent pour occuper toute la largeur du conteneur */
    }
}




body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item, .benefit {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    background-color: #f0f0f0;
}

.benefit {
    background-color: #add8e6;
}

.drag-enter {
    background-color: #90ee90;
}

.drag-wrong {
    background-color: #ffcccb;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .items {
        width: 100%;
    }
}
